<div class="row home">
    <div class="col-xs-12 text-center" id="hero">
        <h1>Welcome International</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
        <h1>News (from Twitter)</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-2">
                <h1>Sochi on Thin Ice</h1>
                <p>A total of 2,873 athletes from 88 nations took part, but who captured the world's focus during the Winter Olympics in Sochi?</p>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h1>Image</h1>
            </div>
        </div>
    </div>
</div>