<div class="fixed-nav-bar">
  <md-toolbar ng-controller="AppCtrl" layout="row" layout-align="start center">
    <div flex class="navbar">
      <md-button ng-click="toggleLeft()">Menu</md-button>
      <md-button>JCI AI</md-button>
    </div>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-controller="LeftCtrl">
      <md-toolbar class="md-theme-indigo navbar" layout="row">
          <md-button ng-click="close()">Menu</md-button>
          <md-button>JCI AI</md-button>
      </md-toolbar>
      <md-content class="md-padding" layout="column">
        <md-button>Home</md-button>
        <md-button>Activities</md-button>
        <md-button>Calendar</md-button>
        <md-button>About</md-button>
        <md-button>Join</md-button>
        <md-button>Login</md-button>
      </md-content>
    </div>
  </md-sidenav>
</div>