<div layout="column" layout-align="center center" class="hero hero-main">
    <div class="main align">
        <div>
        <h1>We make a difference</h1>
        <h2>Welcome to JCI Amsterdam International</h2>
        </div>
    </div>
    <br />
    <h3>Do you want to know what it takes?</h3>
    <br />
</div>
<div layout="column" layout-align="center center" layout-margin layout-fill layout-padding layout-wrap class="bg">
  <br /><br />
  <section layout="row" layout-align="center center" layout-fill>
    <div flex="60" class="md-whiteframe-z1" layout-margin layout-padding layout-fill layout="row" layout-sm="column" flex-sm="95">
      <div flex="47" flex-order="2" flex-order-sm="1">
        <h1>The Big Idea</h1>
        <p>JCI Amsterdam International is a chapter of JCI Nederland, a membership-based not-for-profit organisation. We are part of a global network of more than 200,000 young people aged 18-40, which is present in more than 100 countries.</p>
        <md-button>Learn more</md-button>
      </div>
      <div flex="47" class="center" flex-order="1" flex-order-sm="2">
        <img src="../../assets/images/3.jpg" alt="Group" class="img-resposive"></img>
      </div>
    </div>
  </section>
  <br /><br /><br />
  <section layout="row" layout-align="center center" layout-fill>
    <div flex="60" class="md-whiteframe-z1" layout-margin layout-padding layout-fill layout="row" layout-sm="column" flex-sm="95">
      <div flex="47">
        <h1>What do we do?</h1>
        <p>There are limits to what governments are able to achieve. Our members take action to help improve the Amsterdam community through local development initiatives.</p>
        <md-button>Do you want to learn more?</md-button>
      </div>
      <div flex="47" class="center">
        <img src="../../assets/images/IMG_2346.jpg" alt="Group" class="img-resposive"></img>
      </div>
    </div>
  </section>
  <br /><br />
</div>
<div layout="column" layout-align="center center" class="hero hero-second">
  <div class="inter align">
    <blockquote><h2><i>"Leadership and learning are indispensable to each other."</i></h2><br/>– John Fitzgerald Kennedy</blockquote>
  </div>
</div>
<div layout="column" layout-align="center center" layout-margin layout-fill layout-padding layout-wrap class="bg">
  <br /><br />
  <section layout="row" layout-align="center center" layout-fill>
    <div flex="60" class="md-whiteframe-z1" layout-margin layout-padding layout-fill layout="row" layout-sm="column" flex-sm="95">
      <div flex="47" flex-order="2" flex-order-sm="1">
        <h1>How do we do it?</h1>
        <p>By taking on tailored local development initiatives, we are able to craft innovative solutions to problems that affect our community. We think critically about the greatest challenges we face in Amsterdam and take action to be a part of the solution.</p>
        <md-button>Does this sounds like you?</md-button>
      </div>
      <div flex="47" class="center" flex-order="1" flex-order-sm="2">
        <img src="../../assets/images/IMG_2353.jpg" alt="Group" class="img-resposive"></img>
      </div>
    </div>
  </section>
  <br /><br /><br />
  <section layout="row" layout-align="center center" layout-fill>
    <div flex="60" class="md-whiteframe-z1" layout-margin layout-padding layout-fill layout="row" layout-sm="column" flex-sm="95">
      <div flex="47">
        <h1>Why do we do it?</h1>
        <p>Being a global-minded citizen means having rights and responsibilities, as well as shared goals. By joining us, you will live out your sense of social responsibility and be part of an organisation that seeks to improve communities for future generations.</p>
        <md-button>Ready to meet us?</md-button>
      </div>
      <div flex="47" class="center">
        <img src="../../assets/images/NEMO.jpg" alt="Group" class="img-resposive"></img>
      </div>
    </div>
  </section>
  <br /><br />
</div>
<div layout="column" layout-align="center center" class="hero hero-third">
  <div class="inter align">
    <h1>We are JCI</h1>
  </div>
</div>
<div layout="column" layout-align="center center" layout-margin layout-fill layout-padding layout-wrap class="bg">
  <br /><br />
  <section layout="row" layout-align="center center" layout-fill>
    <div flex="60" class="md-whiteframe-z1" layout-margin layout-padding layout-fill layout="row" flex-sm="95">
      <div flex="94" flex-order="2" flex-order-sm="1" layout="column">
        <h1>Get in touch :-)</h1>
        <p>If you would like further information on our organization, please don’t hesitate to get in touch by filling out the form below.</p>
        <div layout="column">
          <md-content class="md-padding">
            <form name="userForm">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Given Name</label>
                  <input required ng-model="user.givenName" placeholder="My name is...">
                </md-input-container>
                <md-input-container flex>
                  <label>Last Name</label>
                  <input required ng-model="theMax">
                </md-input-container>
              </div>
              <md-input-container flex>
                  <label>E-mail</label>
                  <input required ng-model="theMax" type="email">
              </md-input-container>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Mobile Number</label>
                  <input ng-model="user.city">
                </md-input-container>
              </div>
              <md-input-container flex>
                <label>Comment</label>
                <textarea ng-model="user.comment" columns="1" md-maxlength="150"></textarea>
              </md-input-container>
              <div layout-alight="center center">
                <md-button class="md-raised md-primary">Submit</md-button>
              </div>
            </form>
          </md-content>
        </div>
      </div>
    </div>
  </section>
  <br /><br />
</div>