.hero
    background: linear-gradient( rgba(0,151,215,0.4), rgba(0,151,215,0.4)), url("../assets/images/3.jpg") no-repeat no-repeat
    background-size: cover
    -webkit-background-size: cover
    -ms-background-size: cover
    -o-background-size: cover
    min-height: 70vh
    color: white
    h1
        font-size: 5em
        font-weight: 100
    &-second
        min-height: 50vh
        h1
            font-size: 80px
            font-weight: 100
            color: black
    &-sub
        background: orange

.btn-ghost-large
	font-size: 1.0625em
	padding: 0.5625em 1.5em

.btn-radius
    border-radius: 5px

a.btn-ghost,.btn-ghost
	display: inline-block
	outline: none
	*zoom: 1
	text-align: center
	text-decoration: none
	font-family: inherit
	font-weight: 300
	letter-spacing: 1px
	vertical-align: middle
	border: 1px solid
	transition: all 0.2s ease
	box-sizing: border-box
	text-shadow: 0 1px 0 rgba(0,0,0,0.01)

.btn-orange
	color: #FFF
	border-color: #FFF
	&:hover
      background: #FF8C00
      color: #fff
      border-color: #FF8C00

.responsive-img
    max-width: 100%
    height:auto

.section
    h2
        font-size: 2em
    p
        padding-top: 1.5em
        font-size: 1.0625em

.right
    padding-left: 1em

.left
    padding-right: 1em