<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl" class="navbar">
    <section flex layout="row" layout-align="left center">
        <h2 class="md-toolbar-tools">
            <span ng-click="toggleLeft()">(M)</span><span>(JCI AI Logo)</span>
        </h2>
    </section>
</md-toolbar>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar ng-controller="LeftCtrl">
        <h2 class="md-toolbar-tools">
            <span ng-click="close()">(M)</span><span>JCI Amsterdam Int'l</span>
        </h2>
    </md-toolbar>
    <md-content class="md-padding">
        
    </md-content>
</md-sidenav>