.navbar
    position: fixed
    top: 0
    left: 0
    z-index: 9999
    max-height: 100vh

md-sidenav.md-sidenav-left.md-whiteframe-z2.ng-scope.ng-isolate-scope
    z-index: 31

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active
    min-width: 270px !important
    width: 85vw !important
    max-width: 270px !important

.nav-bt
    background-color: #FF5722