<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" arial-label="jci-amsterdam-international">JCI AI</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <li><a href="#" id="home" arial-label="home">Home</a></li>
          <li><a href="#" id="activities" arial-label="activities">Activities</a></li>
          <li><a href="#" id="calendar" arial-label="calendar">Calendar</a></li>
          <li><a href="#" id="about" arial-label="about-us">About</a></li>
          <li><a href="#" id="join" arial-label="join-us">Join</a></li>
          <li><a href="#" id="login" arial-label="login">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>