@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext);
html {
  font-family: 'Roboto', sans-serif; }

.main {
  width: 100vw;
  height: 57.5vh; }

.align {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .align h1 {
    font-size: 5rem;
    font-weight: 100;
    z-index: 10; }

.hero {
  background-size: cover;
  color: white; }
  .hero-main {
    background: linear-gradient(rgba(15, 15, 15, 0.601961), rgba(15, 15, 15, 0.801961)), url("../../assets/images/3.jpg") no-repeat no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  .hero-second {
    background: linear-gradient(rgba(15, 15, 15, 0.601961), rgba(15, 15, 15, 0.801961)), url("../../assets/images/3.jpg") no-repeat no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%; }
  .hero-third {
    background: linear-gradient(rgba(15, 15, 15, 0.601961), rgba(15, 15, 15, 0.801961)), url("../../assets/images/Neda.jpg") no-repeat no-repeat center center;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto; }

.inter {
  height: 40vh;
  width: 100%; }

.img-resposive {
  width: 100%;
  height: auto; }

.center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.bg {
  background-color: whitesmoke; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  z-index: 30; }

md-sidenav.md-sidenav-left.md-whiteframe-z2.ng-scope.ng-isolate-scope {
  z-index: 31; }

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 270px !important;
  width: 85vw !important;
  max-width: 270px !important; }

.nav-bt {
  background-color: #FF5722; }
